IDENT_FILE="/PATH/TO/PUBLIC/KEY"
REMOTE_BASE="~/public_html/se1"
REMOTE_USER="YOUR ZID"
REMOTE_DOMAIN="hopper.cs.niu.edu"
rsync -e "ssh -i $IDENT_FILE" -u -v  "web/"* "${REMOTE_USER}@${REMOTE_DOMAIN}:${REMOTE_BASE}/"
rsync -e "ssh -i $IDENT_FILE" -u -v  "sql/"* "${REMOTE_USER}@${REMOTE_DOMAIN}:${REMOTE_BASE}/sql/"

